<div style="width:25%">
<svg version="1.1"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid meet" viewBox="0 0 640 640" width="480" height="480">
   <defs>
      <path d="M320 184.3L249.91 280.48L321.49 66.49L320 184.3Z" id="{{slno+'_day22'}}"></path>
      <path d="M321.49 186.54L392.32 280.48L321.49 68.73L321.49 186.54Z" id="{{slno+'_day23'}}"></path>
      <path d="M320 280.48L249.91 280.48L320 187.28L320 280.48Z" id="{{slno+'_day12'}}"></path>
      <path d="M321.49 280.48L392.32 282.72L321.49 187.28L321.49 280.48Z" id="{{slno+'_day13'}}"></path>
      <path d="M138.82 320L19.52 282.72L249.91 280.48L138.82 320Z" id="{{slno+'_day31'}}"></path>
      <path d="M138.82 321.49L205.92 410.22L19.52 282.72L138.82 321.49Z" id="{{slno+'_day30'}}"></path>
      <path d="M209.65 410.22L229.04 348.33L141.05 320L209.65 410.22Z" id="{{slno+'_day20'}}"></path>
      <path d="M229.04 348.33L141.05 320L249.91 282.72L229.04 348.33Z" id="{{slno+'_day21'}}"></path>
      <path d="M212.63 525.79L137.32 622.72L208.16 412.46L212.63 525.79Z" id="{{slno+'_day29'}}"></path>
      <path d="M321.49 492.24L212.63 526.54L137.32 622.72L321.49 492.24Z" id="{{slno+'_day28'}}"></path>
      <path d="M212.63 523.55L264.82 454.96L208.16 412.46L212.63 523.55Z" id="{{slno+'_day19'}}"></path>
      <path d="" id="cTMWKTGS"></path>
      <path d="M321.49 492.24L264.82 455.7L212.63 525.79L321.49 492.24Z" id="{{slno+'_day18'}}"></path>
      <path d="M433.33 529.52L508.64 624.96L321.49 492.24L433.33 529.52Z" id="{{slno+'_day27'}}"></path>
      <path d="M434.82 528.77L437.81 412.46L508.64 622.72L434.82 528.77Z" id="{{slno+'_day26'}}"></path>
      <path d="M434.82 528.03L376.67 453.46L323.73 490.75L434.82 528.03Z" id="{{slno+'_day17'}}"></path>
      <path d="M434.82 528.03L434.82 412.46L379.28 453.46L434.82 528.03Z" id="{{slno+'_day16'}}"></path>
      <path d="M516.84 313.29L623.46 278.25L392.32 280.48L516.84 313.29Z" id="{{slno+'_day24'}}"></path>
      <path d="M437.06 410.22L516.84 313.29L621.23 280.48L437.06 410.22Z" id="{{slno+'_day25'}}"></path>
      <path d="M415.07 346.47L514.61 313.29L392.32 282.72L415.07 346.47Z" id="{{slno+'_day14'}}"></path>
      <path d="M437.06 412.46L415.07 346.47L514.61 314.59L437.06 412.46Z" id="{{slno+'_day15'}}"></path>
      <path d="M330.44 365.11L356.91 365.11L337.15 383.38L343.86 405L321.49 392.32L302.11 405L308.82 381.14L290.92 366.97L313.29 365.11L321.49 345.35L330.44 365.11Z" id="{{slno+'_day1'}}"></path>
      <path d="M313.29 365.11L320 346.47L321.49 282.72L252.15 280.48L313.29 365.11Z" id="{{slno+'_day2'}}"></path>
      <path d="M311.8 365.11L293.16 366.97L231.27 348.33L252.15 284.96L311.8 365.11Z" id="{{slno+'_day11'}}"></path>
      <path d="M291.92 366.97L308.32 379.65L209.16 412.46L230.41 351.32L291.92 366.97Z" id="{{slno+'_day10'}}"></path>
      <path d="M300.61 405L267.06 453.46L210.39 412.46L307.32 381.89L300.61 405Z" id="{{slno+'_day9'}}"></path>
      <path d="M321.49 394.56L321.49 492.24L267.06 455.7L299.87 405L321.49 394.56Z" id="{{slno+'_day8'}}"></path>
      <path d="M343.86 405L379.28 453.46L321.49 492.24L320 394.56L343.86 405Z" id="{{slno+'_day7'}}"></path>
      <path d="M343.11 405L379.28 450.48L434.82 410.22L337.89 384.87L343.11 405Z" id="{{slno+'_day6'}}"></path>
      <path d="M337.89 384.87L434.82 410.22L412.46 346.47L356.91 365.11L337.89 384.87Z" id="{{slno+'_day5'}}"></path>
      <path d="M358.77 363.53L329.69 363.53L390.09 284.96L410.96 345.35L358.77 363.53Z" id="{{slno+'_day4'}}"></path>
      <path d="M321.49 343.11L329.69 363.53L390.09 282.72L321.49 282.72L321.49 343.11Z" id="{{slno+'_day3'}}"></path>
      <text id="j8c2mVvZu7" x="301.36" y="160.44" font-size="14" font-family="Open Sans" font-weight="normal" font-style="normal" letter-spacing="0" alignment-

baseline="before-edge" transform="matrix(0.9999690408111173 -0.00786876224663785 0.00786876224663785 0.9999690408111173 14.80382622210601 209.82425112413185)" style="line-height:100%" xml:space="preserve" dominant-baseline="text-before-edge">
         <tspan x="301.36" dy="0em" alignment-baseline="before-edge" dominant-baseline="text-before-edge" text-anchor="start">1</tspan>
      </text>
      
      <text id="d1c5CU0O7d" x="345.35" y="180.57" font-size="14" font-family="Open Sans" font-weight="normal" font-style="normal" letter-spacing="0" alignment-

baseline="before-edge" transform="matrix(1 0 0 1 -50.35519515681597 123.21929824561414)" style="line-height:100%" xml:space="preserve" dominant-baseline="text-before-edge">
         <tspan x="345.35" dy="0em" alignment-baseline="before-edge" dominant-baseline="text-before-edge" text-anchor="start">2</tspan>
      </text>
      <text id="c1RlACAIkh" x="295" y="249.17" font-size="14" font-family="Open Sans" font-weight="normal" font-style="normal" letter-spacing="0" alignment-baseline="before-

edge" transform="matrix(1 0 0 1 42.89905480593876 54.62938596491222)" style="line-height:100%" xml:space="preserve" dominant-baseline="text-before-edge">
         <tspan x="295" dy="0em" alignment-baseline="before-edge" dominant-baseline="text-before-edge" text-anchor="start">3</tspan>
      </text>
      <text id="a1GJXk9nxe" x="379.28" y="328.95" font-size="14" font-family="Open Sans" font-weight="normal" font-style="normal" letter-spacing="0" alignment-

baseline="before-edge" transform="matrix(1 0 0 1 -0.9166666666666856 -3.9473684210527153)" style="line-height:100%" xml:space="preserve" dominant-baseline="text-before-edge">
         <tspan x="379.28" dy="0em" alignment-baseline="before-edge" dominant-baseline="text-before-edge" text-anchor="start">4</tspan>
      </text>
      <text id="a5fg6SJDQy" x="398.29" y="372.35" font-size="14" font-family="Open Sans" font-weight="normal" font-style="normal" letter-spacing="0" alignment-

baseline="before-edge" transform="matrix(1 0 0 1 -8.201754385964875 -3.829564677342887)" style="line-height:100%" xml:space="preserve" dominant-baseline="text-before-edge">
         <tspan x="398.29" dy="0em" alignment-baseline="before-edge" dominant-baseline="text-before-edge" text-anchor="start">5</tspan>
      </text>
      <text id="fHu4iMfc" x="382.36" y="412.46" font-size="14" font-family="Open Sans" font-weight="normal" font-style="normal" letter-spacing="0" alignment-

baseline="before-edge" transform="matrix(1 0 0 1 -4 0.7192982456140271)" style="line-height:100%" xml:space="preserve" dominant-baseline="text-before-edge">
         <tspan x="382.36" dy="0em" alignment-baseline="before-edge" dominant-baseline="text-before-edge" text-anchor="start">6</tspan>
      </text>
      <text id="d1l0ka6StG" x="341.89" y="437.81" font-size="14" font-family="Open Sans" font-weight="normal" font-style="normal" letter-spacing="0" alignment-

baseline="before-edge" transform="matrix(1 0 0 1 0 0)" style="line-height:100%" xml:space="preserve" dominant-baseline="text-before-edge">
         <tspan x="341.89" dy="0em" alignment-baseline="before-edge" dominant-baseline="text-before-edge" text-anchor="start">7</tspan>
      </text>
      <text id="gtwWxQZ0b" x="299" y="445.26" font-size="14" font-family="Open Sans" font-weight="normal" font-style="normal" letter-spacing="0" alignment-baseline="before-

edge" transform="matrix(1 0 0 1 0 -4.280701754385973)" style="line-height:100%" xml:space="preserve" dominant-baseline="text-before-edge">
         <tspan x="299" dy="0em" alignment-baseline="before-edge" dominant-baseline="text-before-edge" text-anchor="start">8</tspan>
      </text>
      <path d="" id="a1H76UnLnK"></path>
      <text id="a15GBe12aG" x="261.1" y="412.46" font-size="14" font-family="Open Sans" font-weight="normal" font-style="normal" letter-spacing="0" alignment-

baseline="before-edge" transform="matrix(1 0 0 1 0 0)" style="line-height:100%" xml:space="preserve" dominant-baseline="text-before-edge">
         <tspan x="261.1" dy="0em" alignment-baseline="before-edge" dominant-baseline="text-before-edge" text-anchor="start">9</tspan>
      </text>
      <text id="aOszDYlJi" x="252.15" y="375.18" font-size="14" font-family="Open Sans" font-weight="normal" font-style="normal" letter-spacing="0" alignment-

baseline="before-edge" transform="matrix(1 0 0 1 -1.087719298245588 -4.307017543859615)" style="line-height:100%" xml:space="preserve" dominant-baseline="text-before-edge">
         <tspan x="252.15" dy="0em" alignment-baseline="before-edge" dominant-baseline="text-before-edge" text-anchor="start">10</tspan>
      </text>
      <text id="buTe3lbBU" x="252.15" y="375.18" font-size="14" font-family="Open Sans" font-weight="normal" font-style="normal" letter-spacing="0" alignment-

baseline="before-edge" transform="matrix(1 0 0 1 -1.087719298245588 -53.71052631578948)" style="line-height:100%" xml:space="preserve" dominant-baseline="text-before-edge">
         <tspan x="252.15" dy="0em" alignment-baseline="before-edge" dominant-baseline="text-before-edge" text-anchor="start">11</tspan>
      </text>
      <text id="ag00M5rhl" x="290.92" y="248.42" font-size="14" font-family="Open Sans" font-weight="normal" font-style="normal" letter-spacing="0" alignment-

baseline="before-edge" transform="matrix(1 0 0 1 0 5.745614035087669)" style="line-height:100%" xml:space="preserve" dominant-baseline="text-before-edge">
         <tspan x="290.92" dy="0em" alignment-baseline="before-edge" dominant-baseline="text-before-edge" text-anchor="start">12</tspan>
      </text>
      <text id="g1T9iJKwhw" x="345.89" y="257.92" font-size="14" font-family="Open Sans" font-weight="normal" font-style="normal" letter-spacing="0" alignment-

baseline="before-edge" transform="matrix(1 0 0 1 -2.236842105263179 -4.5)" style="line-height:100%" xml:space="preserve" dominant-baseline="text-before-edge">
         <tspan x="345.89" dy="0em" alignment-baseline="before-edge" dominant-baseline="text-before-edge" text-anchor="start">13</tspan>
      </text>
      <text id="k1QzOT0yjC" x="428.86" y="313.29" font-size="14" font-family="Open Sans" font-weight="normal" font-style="normal" letter-spacing="0" alignment-

baseline="before-edge" transform="matrix(1 0 0 1 0 -2)" style="line-height:100%" xml:space="preserve" dominant-baseline="text-before-edge">
         <tspan x="428.86" dy="0em" alignment-baseline="before-edge" dominant-baseline="text-before-edge" text-anchor="start">14</tspan>
      </text>
      <text id="b2tCZ9pK4r" x="449.74" y="351.32" font-size="14" font-family="Open Sans" font-weight="normal" font-style="normal" letter-spacing="0" alignment-

baseline="before-edge" transform="matrix(1 0 0 1 -6 -3)" style="line-height:100%" xml:space="preserve" dominant-baseline="text-before-edge">
         <tspan x="449.74" dy="0em" alignment-baseline="before-edge" dominant-baseline="text-before-edge" text-anchor="start">15</tspan>
      </text>
      <text id="ds58oJz4" x="415.07" y="459.98" font-size="14" font-family="Open Sans" font-weight="normal" font-style="normal" letter-spacing="0" alignment-

baseline="before-edge" transform="matrix(1 0 0 1 -9 -4)" style="line-height:100%" xml:space="preserve" dominant-baseline="text-before-edge">
         <tspan x="415.07" dy="0em" alignment-baseline="before-edge" dominant-baseline="text-before-edge" text-anchor="start">16</tspan>
      </text>
      <text id="a2TdDOKco0" x="374.43" y="485.53" font-size="14" font-family="Open Sans" font-weight="normal" font-style="normal" letter-spacing="0" alignment-

baseline="before-edge" transform="matrix(1 0 0 1 -7 -4)" style="line-height:100%" xml:space="preserve" dominant-baseline="text-before-edge">
         <tspan x="374.43" dy="0em" alignment-baseline="before-edge" dominant-baseline="text-before-edge" text-anchor="start">17</tspan>
      </text>
      <text id="b4BKp2qaS4" x="267.06" y="482.54" font-size="14" font-family="Open Sans" font-weight="normal" font-style="normal" letter-spacing="0" alignment-

baseline="before-edge" transform="matrix(1 0 0 1 -6 -7)" style="line-height:100%" xml:space="preserve" dominant-baseline="text-before-edge">
         <tspan x="267.06" dy="0em" alignment-baseline="before-edge" dominant-baseline="text-before-edge" text-anchor="start">18</tspan>
      </text>
      <text id="isGZQSU2H" x="226.8" y="455.7" font-size="14" font-family="Open Sans" font-weight="normal" font-style="normal" letter-spacing="0" alignment-baseline="before-

edge" transform="matrix(1 0 0 1 0 5)" style="line-height:100%" xml:space="preserve" dominant-baseline="text-before-edge">
         <tspan x="226.8" dy="0em" alignment-baseline="before-edge" dominant-baseline="text-before-edge" text-anchor="start">19</tspan>
      </text>
      <text id="e1CFXK002O" x="200.7" y="354.3" font-size="14" font-family="Open Sans" font-weight="normal" font-style="normal" letter-spacing="0" alignment-

baseline="before-edge" transform="matrix(1 0 0 1 0 5)" style="line-height:100%" xml:space="preserve" dominant-baseline="text-before-edge">
         <tspan x="200.7" dy="0em" alignment-baseline="before-edge" dominant-baseline="text-before-edge" text-anchor="start">20</tspan>
      </text>
      <text id="a513ZCvAQ" x="202.94" y="309.56" font-size="14" font-family="Open Sans" font-weight="normal" font-style="normal" letter-spacing="0" alignment-

baseline="before-edge" transform="matrix(1 0 0 1 0 0)" style="line-height:100%" xml:space="preserve" dominant-baseline="text-before-edge">
         <tspan x="202.94" dy="0em" alignment-baseline="before-edge" dominant-baseline="text-before-edge" text-anchor="start">21</tspan>
      </text>
      <text id="a6ezrwEwW" x="303" y="169.39" font-size="14" font-family="Open Sans" font-weight="normal" font-style="normal" letter-spacing="0" alignment-baseline="before-

edge" transform="matrix(1 0 0 1 -8 4)" style="line-height:100%" xml:space="preserve" dominant-baseline="text-before-edge">
         <tspan x="303" dy="0em" alignment-baseline="before-edge" dominant-baseline="text-before-edge" text-anchor="start">22</tspan>
      </text>
      <text id="g4j1CkIMxS" x="341.89" y="180.57" font-size="14" font-family="Open Sans" font-weight="normal" font-style="normal" letter-spacing="0" alignment-

baseline="before-edge" transform="matrix(1 0 0 1 -7 -6)" style="line-height:100%" xml:space="preserve" dominant-baseline="text-before-edge">
         <tspan x="341.89" dy="0em" alignment-baseline="before-edge" dominant-baseline="text-before-edge" text-anchor="start">23</tspan>
      </text>
      <text id="aYkMguG64" x="514.61" y="291.67" font-size="14" font-family="Open Sans" font-weight="normal" font-style="normal" letter-spacing="0" alignment-

baseline="before-edge" transform="matrix(1 0 0 1 -7 -2)" style="line-height:100%" xml:space="preserve" dominant-baseline="text-before-edge">
         <tspan x="514.61" dy="0em" alignment-baseline="before-edge" dominant-baseline="text-before-edge" text-anchor="start">24</tspan>
      </text>
      <text id="c4W0pNIZe" x="533.25" y="325.96" font-size="14" font-family="Open Sans" font-weight="normal" font-style="normal" letter-spacing="0" alignment-

baseline="before-edge" transform="matrix(1 0 0 1 -13 -3)" style="line-height:100%" xml:space="preserve" dominant-baseline="text-before-edge">
         <tspan x="533.25" dy="0em" alignment-baseline="before-edge" dominant-baseline="text-before-edge" text-anchor="start">25</tspan>
      </text>
      <text id="c1z1VUgrC9" x="453.46" y="508.64" font-size="14" font-family="Open Sans" font-weight="normal" font-style="normal" letter-spacing="0" alignment-

baseline="before-edge" transform="matrix(1 0 0 1 -7 1)" style="line-height:100%" xml:space="preserve" dominant-baseline="text-before-edge">
         <tspan x="453.46" dy="0em" alignment-baseline="before-edge" dominant-baseline="text-before-edge" text-anchor="start">26</tspan>
      </text>
      <text id="arXVoU51J" x="422.07" y="548.16" font-size="14" font-family="Open Sans" font-weight="normal" font-style="normal" letter-spacing="0" alignment-

baseline="before-edge" transform="matrix(1 0 0 1 0 -3)" style="line-height:100%" xml:space="preserve" dominant-baseline="text-before-edge">
         <tspan x="422.07" dy="0em" alignment-baseline="before-edge" dominant-baseline="text-before-edge" text-anchor="start">27</tspan>
      </text>
      <text id="addAPD65x" x="226.8" y="540.16" font-size="14" font-family="Open Sans" font-weight="normal" font-style="normal" letter-spacing="0" alignment-

baseline="before-edge" transform="matrix(1 0 0 1 -12 -4)" style="line-height:100%" xml:space="preserve" dominant-baseline="text-before-edge">
         <tspan x="226.8" dy="0em" alignment-baseline="before-edge" dominant-baseline="text-before-edge" text-anchor="start">28</tspan>
      </text>
      <text id="dzF6z2eKT" x="185.04" y="517.59" font-size="14" font-family="Open Sans" font-weight="normal" font-style="normal" letter-spacing="0" alignment-

baseline="before-edge" transform="matrix(1 0 0 1 0 -8)" style="line-height:100%" xml:space="preserve" dominant-baseline="text-before-edge">
         <tspan x="185.04" dy="0em" alignment-baseline="before-edge" dominant-baseline="text-before-edge" text-anchor="start">29</tspan>
      </text>
      <path d="" id="b1ifWhIgop"></path>
      <text id="axTT4kpfH" x="123.9" y="333.42" font-size="14" font-family="Open Sans" font-weight="normal" font-style="normal" letter-spacing="0" alignment-

baseline="before-edge" transform="matrix(1 0 0 1 -6 -2)" style="line-height:100%" xml:space="preserve" dominant-baseline="text-before-edge">
         <tspan x="123.9" dy="0em" alignment-baseline="before-edge" dominant-baseline="text-before-edge" text-anchor="start">30</tspan>
      </text>
      <text id="bC9N9ihz" x="141.05" y="297.63" font-size="14" font-family="Open Sans" font-weight="normal" font-style="normal" letter-spacing="0" alignment-

baseline="before-edge" transform="matrix(1 0 0 1 -8 -5)" style="line-height:100%" xml:space="preserve" dominant-baseline="text-before-edge">
         <tspan x="141.05" dy="0em" alignment-baseline="before-edge" dominant-baseline="text-before-edge" text-anchor="start">31</tspan>
      </text>
   </defs>
   <g>
      <g>
         <g>
            <g>
               <use attr.xlink:href="{{'#'+slno+'_day22'}}" opacity="1" stroke="#000" stroke-width="4" stroke-opacity="1"></use>
            </g>
         </g>
         <g>
            <g>
               <use attr.xlink:href="{{'#'+slno+'_day23'}}" opacity="1"  stroke="#000" stroke-width="4" stroke-opacity="1"></use>
            </g>
         </g>
         <g>
            <g>
               <use attr.xlink:href="{{'#'+slno+'_day12'}}" opacity="1"  stroke="#000" stroke-width="4" stroke-opacity="1"></use>
            </g>
         </g>
         <g>
            <g>
               <use attr.xlink:href="{{'#'+slno+'_day13'}}" opacity="1" fill-opacity="1" stroke="#000" stroke-width="4" stroke-opacity="1"></use>
            </g>
         </g>
         <g>
            <g>
               <use attr.xlink:href="{{'#'+slno+'_day31'}}" opacity="1" fill-opacity="1" stroke="#000" stroke-width="4" stroke-opacity="1"></use>
            </g>
         </g>
         <g>
            <g>
               <use attr.xlink:href="{{'#'+slno+'_day30'}}" opacity="1" fill-opacity="1" stroke="#000" stroke-width="4" stroke-opacity="1"></use>
            </g>
         </g>
         <g>
            <g>
               <use attr.xlink:href="{{'#'+slno+'_day20'}}" opacity="1" fill-opacity="1" stroke="#000" stroke-width="4" stroke-opacity="1"></use>
            </g>
         </g>
         <g>
            <g>
               <use attr.xlink:href="{{'#'+slno+'_day21'}}" opacity="1" fill-opacity="1" stroke="#000" stroke-width="4" stroke-opacity="1"></use>
            </g>
         </g>
         <g>
            <g>
               <use attr.xlink:href="{{'#'+slno+'_day29'}}" opacity="1" fill-opacity="1" stroke="#000" stroke-width="4" stroke-opacity="1"></use>
            </g>
         </g>
         <g>
            <g>
               <use attr.xlink:href="{{'#'+slno+'_day28'}}" opacity="1" fill-opacity="1" stroke="#000" stroke-width="4" stroke-opacity="1"></use>
            </g>
         </g>
         <g>
            <g>
               <use attr.xlink:href="{{'#'+slno+'_day19'}}" opacity="1" fill-opacity="1" stroke="#000" stroke-width="4" stroke-opacity="1"></use>
            </g>
         </g>
         <g>
            <g>
               <use xlink:href="#cTMWKTGS" opacity="1" fill-opacity="1" stroke="#000" stroke-width="4" stroke-opacity="1"></use>
            </g>
         </g>
         <g>
            <g>
               <use attr.xlink:href="{{'#'+slno+'_day18'}}" opacity="1" fill-opacity="1" stroke="#000" stroke-width="4" stroke-opacity="1"></use>
            </g>
         </g>
         <g>
            <g>
               <use attr.xlink:href="{{'#'+slno+'_day27'}}" opacity="1" fill-opacity="1" stroke="#000" stroke-width="4" stroke-opacity="1"></use>
            </g>
         </g>
         <g>
            <g>
               <use attr.xlink:href="{{'#'+slno+'_day26'}}" opacity="1" fill-opacity="1" stroke="#000" stroke-width="4" stroke-opacity="1"></use>
            </g>
         </g>
         <g>
            <g>
               <use attr.xlink:href="{{'#'+slno+'_day17'}}" opacity="1" fill-opacity="1" stroke="#000" stroke-width="4" stroke-opacity="1"></use>
            </g>
         </g>
         <g>
            <g>
               <use attr.xlink:href="{{'#'+slno+'_day16'}}" opacity="1" fill-opacity="1" stroke="#000" stroke-width="4" stroke-opacity="1"></use>
            </g>
         </g>
         <g>
            <g>
               <use attr.xlink:href="{{'#'+slno+'_day24'}}" opacity="1" fill-opacity="1" stroke="#000" stroke-width="4" stroke-opacity="1"></use>
            </g>
         </g>
         <g>
            <g>
               <use attr.xlink:href="{{'#'+slno+'_day25'}}" opacity="1" fill-opacity="1" stroke="#000" stroke-width="4" stroke-opacity="1"></use>
            </g>
         </g>
         <g>
            <g>
               <use attr.xlink:href="{{'#'+slno+'_day14'}}" opacity="1" fill-opacity="1" stroke="#000" stroke-width="4" stroke-opacity="1"></use>
            </g>
         </g>
         <g>
            <g>
               <use attr.xlink:href="{{'#'+slno+'_day15'}}" opacity="1" fill-opacity="1" stroke="#000" stroke-width="4" stroke-opacity="1"></use>
            </g>
         </g>
         <g>
            <g>
               <use attr.xlink:href="{{'#'+slno+'_day1'}}" opacity="1" fill-opacity="1" stroke="#000" stroke-width="4" stroke-opacity="1"></use>
            </g>
         </g>
         <g>
            <g>
               <use attr.xlink:href="{{'#'+slno+'_day2'}}" opacity="1" fill-opacity="1" stroke="#000" stroke-width="4" stroke-opacity="1"></use>
            </g>
         </g>
         <g>
            <g>
               <use attr.xlink:href="{{'#'+slno+'_day11'}}" opacity="1" fill-opacity="1" stroke="#000" stroke-width="4" stroke-opacity="1"></use>
            </g>
         </g>
         <g>
            <g>
               <use attr.xlink:href="{{'#'+slno+'_day10'}}" opacity="1" fill-opacity="1" stroke="#000" stroke-width="4" stroke-opacity="1"></use>
            </g>
         </g>
         <g>
            <g>
               <use attr.xlink:href="{{'#'+slno+'_day9'}}" opacity="1" fill-opacity="1" stroke="#000" stroke-width="4" stroke-opacity="1"></use>
            </g>
         </g>
         <g>
            <g>
               <use attr.xlink:href="{{'#'+slno+'_day8'}}" opacity="1" fill-opacity="1" stroke="#000" stroke-width="4" stroke-opacity="1"></use>
            </g>
         </g>
         <g>
            <g>
               <use attr.xlink:href="{{'#'+slno+'_day7'}}" opacity="1" fill-opacity="1" stroke="#000" stroke-width="4" stroke-opacity="1"></use>
            </g>
         </g>
         <g>
            <g>
               <use attr.xlink:href="{{'#'+slno+'_day6'}}" opacity="1" fill-opacity="1" stroke="#000" stroke-width="4" stroke-opacity="1"></use>
            </g>
         </g>
         <g>
            <g>
               <use attr.xlink:href="{{'#'+slno+'_day5'}}" opacity="1" fill-opacity="1" stroke="#000" stroke-width="4" stroke-opacity="1"></use>
            </g>
         </g>
         <g>
            <g>
               <use attr.xlink:href="{{'#'+slno+'_day4'}}" opacity="1" fill-opacity="1" stroke="#000" stroke-width="4" stroke-opacity="1"></use>
            </g>
         </g>
         <g>
            <g>
              <use attr.xlink:href="{{'#'+slno+'_day3'}}" opacity="1" fill-opacity="1" stroke="#000" stroke-width="4" stroke-opacity="1"></use>
            </g>
         </g>
         <g id="cRCudVeLN">
            <use xlink:href="#j8c2mVvZu7" opacity="1" fill="#000" fill-opacity="1"></use>
         </g>
         <g id="b2frsgdoxZ">
            <use xlink:href="#d1c5CU0O7d" opacity="1" fill="#000" fill-opacity="1"></use>
         </g>
         <g id="d6CqpOx1tg">
            <use xlink:href="#c1RlACAIkh" opacity="1" fill="#000" fill-opacity="1"></use>
         </g>
         <g id="a31gyoDzi">
            <use xlink:href="#a1GJXk9nxe" opacity="1" fill="#000" fill-opacity="1"></use>
         </g>
         <g id="aDbOqCcQs">
            <use xlink:href="#a5fg6SJDQy" opacity="1" fill="#000" fill-opacity="1"></use>
         </g>
         <g id="b2zbhr2jYA">
            <use xlink:href="#fHu4iMfc" opacity="1" fill="#000" fill-opacity="1"></use>
         </g>
         <g id="c1zYWcEShz">
            <use xlink:href="#d1l0ka6StG" opacity="1" fill="#000" fill-opacity="1"></use>
         </g>
         <g id="dSqYti7Q8">
            <use xlink:href="#gtwWxQZ0b" opacity="1" fill="#000" fill-opacity="1"></use>
         </g>
         <g>
            <g>
               <use xlink:href="#a1H76UnLnK" opacity="1" fill-opacity="0" stroke="#000" stroke-width="4" stroke-opacity="1"></use>
            </g>
         </g>
         <g id="egvmT0Zbo">
            <use xlink:href="#a15GBe12aG" opacity="1" fill="#000" fill-opacity="1"></use>
         </g>
         <g id="f15PwmnNmF">
            <use xlink:href="#aOszDYlJi" opacity="1" fill="#000" fill-opacity="1"></use>
         </g>
         <g id="c110DfFqa">
            <use xlink:href="#buTe3lbBU" opacity="1" fill="#000" fill-opacity="1"></use>
         </g>
         <g id="c1cOJdusux">
            <use xlink:href="#ag00M5rhl" opacity="1" fill="#000" fill-opacity="1"></use>
         </g>
         <g id="c6ftm8QRc">
            <use xlink:href="#g1T9iJKwhw" opacity="1" fill="#000" fill-opacity="1"></use>
         </g>
         <g id="a25e6Apbzu">
            <use xlink:href="#k1QzOT0yjC" opacity="1" fill="#000" fill-opacity="1"></use>
         </g>
         <g id="bwMy8ZbKk">
            <use xlink:href="#b2tCZ9pK4r" opacity="1" fill="#000" fill-opacity="1"></use>
         </g>
         <g id="fIbT0yWwC">
            <use xlink:href="#ds58oJz4" opacity="1" fill="#000" fill-opacity="1"></use>
         </g>
         <g id="a58vstNDd4">
            <use xlink:href="#a2TdDOKco0" opacity="1" fill="#000" fill-opacity="1"></use>
         </g>
         <g id="biFvLbdhg">
            <use xlink:href="#b4BKp2qaS4" opacity="1" fill="#000" fill-opacity="1"></use>
         </g>
         <g id="b82pyiLGH3">
            <use xlink:href="#isGZQSU2H" opacity="1" fill="#000" fill-opacity="1"></use>
         </g>
         <g id="b12eQ625tP">
            <use xlink:href="#e1CFXK002O" opacity="1" fill="#000" fill-opacity="1"></use>
         </g>
         <g id="a1VU6jKbxN">
            <use xlink:href="#a513ZCvAQ" opacity="1" fill="#000" fill-opacity="1"></use>
         </g>
         <g id="b8XMZEcOwk">
            <use xlink:href="#a6ezrwEwW" opacity="1" fill="#000" fill-opacity="1"></use>
         </g>
         <g id="cEc1PfUgN">
            <use xlink:href="#g4j1CkIMxS" opacity="1" fill="#000" fill-opacity="1"></use>
         </g>
         <g id="e1FH83R9lP">
            <use xlink:href="#aYkMguG64" opacity="1" fill="#000" fill-opacity="1"></use>
         </g>
         <g id="c1l63ZM1MJ">
            <use xlink:href="#c4W0pNIZe" opacity="1" fill="#000" fill-opacity="1"></use>
         </g>
         <g id="e2EQaz2FA1">
            <use xlink:href="#c1z1VUgrC9" opacity="1" fill="#000" fill-opacity="1"></use>
         </g>
         <g id="b5UQO4vug">
            <use xlink:href="#arXVoU51J" opacity="1" fill="#000" fill-opacity="1"></use>
         </g>
         <g id="a14sLM8PmM">
            <use xlink:href="#addAPD65x" opacity="1" fill="#000" fill-opacity="1"></use>
         </g>
         <g id="b1GJ2HqLxA">
            <use xlink:href="#dzF6z2eKT" opacity="1" fill="#000" fill-opacity="1"></use>
         </g>
         <g>
            <g>
               <use xlink:href="#b1ifWhIgop" opacity="1" fill-opacity="0" stroke="#000" stroke-width="4" stroke-opacity="1"></use>
            </g>
         </g>
         <g id="bwu1rO0pV">
            <use xlink:href="#axTT4kpfH" opacity="1" fill="#000" fill-opacity="1"></use>
         </g>
         <g id="c165NYnDUg">
            <use xlink:href="#bC9N9ihz" opacity="1" fill="#000" fill-opacity="1"></use>
         </g>
      </g>
   </g>
</svg>
<label>{{lblText}}</label>
</div>